package-lock.json
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.swp
bun.lock
pnpm-lock.yaml
.vscode/**
static/data/**
!static/data/producers_22.json
!static/data/producers_85.json
!static/data/tags/t1.json
!static/data/products/p4.json
!static/data/categories.json
!static/data/departements.json
static/producers/**
playwright-report/**
test-results/**
scripts/pg_exec.sql
