package-lock.json
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.swp
static/data/producers_*.json
bun.lock
pnpm-lock.yaml
.vscode/**
static/data/**
static/producers/**
playwright-report/**
test-results/**
scripts/pg_exec.sql
